.navigation {
  display: flex;
  flex-direction: column;
  font-size: 85px;
  width: 100%;
  color: #cc6d9cde;
  /* opacity: 0.8; */
  animation: flash .3s;
  animation-delay: 2.3s;
}

.landing-home {
  opacity: 0;
  animation: 1s ease 1s forwards;
  animation-name: fadeIn;
  animation-delay: 1.4s;
}

.landing-menu {
  opacity: 0;
  animation: 1s ease 1s forwards;
  animation-name: fadeIn;
  animation-delay: 1.5s;
}

.landing-reserve {
  opacity: 0;
  animation: 1s ease 1s forwards;
  animation-name: fadeIn;
  animation-delay: 1.6s;
}

.landing-contact {
  opacity: 0;
  animation: 1s ease 1s forwards;
  animation-name: fadeIn;
  animation-delay: 1.7s;
}

.navigation div:hover{
  color: rgba(64, 201, 235, 0.884);
  transform: scale(1.03)
}

@keyframes fadeIn {
  from {opacity: 0}
	to {opacity: 1}
}

@keyframes flash {
  0% {color: #c26091de}
  30% {color: #e7c3d6de}
  60% {color: #c26091de}
  100% {color: #eecedfde}
}

.landing-img {
  position: relative;
  left: -200px;
  margin: 0 auto;
  animation: move 1s ease forwards;
  animation-delay: 1.5s;
  -webkit-animation: move 1s ease forwards;
  -webkit-animation-delay: 1.5s;
  z-index: 0;
}

@keyframes move {
  from {left: -200px}
  to {left: 0px}
}

@-webkit-keyframes move {
  from {left: -200px}
  to {left: 0px}
}

@keyframes move2 {
  from {left: -100px}
  to {left: 0px}
}

@-webkit-keyframes move2 {
  from {left: -100px}
  to {left: 0px}
}

.landing-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 50px;
  opacity: 0;
  animation: 1s ease 1s forwards;
  animation-name: fadeDown;
  animation-delay: 2s;
  transform: translateY(20%);
  z-index: 999;
}

.landing-header a {
  opacity: 0.8;
}

.burger-button {
  display: none;
}

.burger-button:hover {
  transform: scale(1.1)
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(0%);
  }
  to {
    opacity: 1;
    transform: translateY(20%);
  }
}

@media (max-width: 1200px) {
  .navigation {
    font-size: 75px;
  }
  .landing-img {
    width: 550px;
  }
}

@media (max-width: 1030px) {
  .navigation {
    font-size: 65px;
  }
  .landing-img {
    width: 500px;
  }
}

@media (max-width: 930px) {
  .navigation {
    font-size: 62px;
  }
  .landing-img {
    width: 480px;
    left: -120px;
    animation: move2 1s ease forwards;
    animation-delay: 1.5s;
    -webkit-animation: move2 1s ease forwards;
    -webkit-animation-delay: 1.5s;
  }

  @keyframes move2 {
    from {left: -120px}
    to {left: 0px}
  }
  
  @-webkit-keyframes move2 {
    from {left: -120px}
    to {left: 0px}
  }
}

@media (max-width: 910px) {
  .navigation {
    font-size: 60px;
  }
  .landing-img {
    width: 450px;
    left: -120px;
    animation: move2 1s ease forwards;
    animation-delay: 1.5s;
    -webkit-animation: move2 1s ease forwards;
    -webkit-animation-delay: 1.5s;
  }

  @keyframes move2 {
    from {left: -120px}
    to {left: 0px}
  }
  
  @-webkit-keyframes move2 {
    from {left: -120px}
    to {left: 0px}
  }
}

@media (max-width: 880px) {
  .navigation {
    display: none;
  }

  .burger-button {
    display: inline;
  }

  .landing-img {
    animation: none;
    left: 0;
    width: 400px;
  }

  .landing-header {
    justify-content: space-between;
  }

  .landing-home {
    opacity: 0;
    animation: 1s ease 1s forwards;
    animation-name: fadeIn;
    animation-delay: .4s;
  }
  
  .landing-menu {
    opacity: 0;
    animation: 1s ease 1s forwards;
    animation-name: fadeIn;
    animation-delay: .5s;
  }
  
  .landing-reserve {
    opacity: 0;
    animation: 1s ease 1s forwards;
    animation-name: fadeIn;
    animation-delay: .6s;
  }
  
  .landing-contact {
    opacity: 0;
    animation: 1s ease 1s forwards;
    animation-name: fadeIn;
    animation-delay: .7s;
  }
}

@media (max-width: 530px) {
  .navigation {
    display: none;
  }

  .burger-button {
    display: inline;
  }

  .landing-img {
    animation: none;
    left: 0;
    width: 350px;
    height: 350px;
  }

  .landing-header {
    padding-right: 50px;
    justify-content: space-between;
  }

  .landing-home {
    opacity: 0;
    animation: 1s ease 1s forwards;
    animation-name: fadeIn;
    animation-delay: .4s;
  }
  
  .landing-menu {
    opacity: 0;
    animation: 1s ease 1s forwards;
    animation-name: fadeIn;
    animation-delay: .5s;
  }
  
  .landing-reserve {
    opacity: 0;
    animation: 1s ease 1s forwards;
    animation-name: fadeIn;
    animation-delay: .6s;
  }
  
  .landing-contact {
    opacity: 0;
    animation: 1s ease 1s forwards;
    animation-name: fadeIn;
    animation-delay: .7s;
  }
}

@media (max-width: 450px) {
  .navigation {
    display: hidden;
  }

  .burger-button {
    display: inline;
  }

  .landing-img {
    animation: none;
    width: 350px;
    height: 300px;
  }

  .landing-header {
    padding: 0 30px;
    justify-content: space-between;
  }

  .landing-home {
    opacity: 0;
    animation: 1s ease 1s forwards;
    animation-name: fadeIn;
    animation-delay: .4s;
  }
  
  .landing-menu {
    opacity: 0;
    animation: 1s ease 1s forwards;
    animation-name: fadeIn;
    animation-delay: .5s;
  }
  
  .landing-reserve {
    opacity: 0;
    animation: 1s ease 1s forwards;
    animation-name: fadeIn;
    animation-delay: .6s;
  }
  
  .landing-contact {
    opacity: 0;
    animation: 1s ease 1s forwards;
    animation-name: fadeIn;
    animation-delay: .7s;
  }
}