.navigation {
  display: flex;
  flex-direction: column;
  font-size: 85px;
  width: 100%;
  color: #cc6d9cde;
  /* opacity: 0.8; */
  animation: flash .3s;
  animation-delay: 2.3s;
}

.landing-home {
  opacity: 0;
  animation: 1s ease 1s forwards;
  animation-name: fadeIn;
  animation-delay: 1.4s;
}

.landing-menu {
  opacity: 0;
  animation: 1s ease 1s forwards;
  animation-name: fadeIn;
  animation-delay: 1.5s;
}

.landing-reserve {
  opacity: 0;
  animation: 1s ease 1s forwards;
  animation-name: fadeIn;
  animation-delay: 1.6s;
}

.landing-contact {
  opacity: 0;
  animation: 1s ease 1s forwards;
  animation-name: fadeIn;
  animation-delay: 1.7s;
}

.navigation div:hover{
  color: rgb(99, 232, 250);
}

@keyframes fadeIn {
  from {opacity: 0}
	to {opacity: 1}
}

@keyframes flash {
  0% {color: #c26091de}
  30% {color: #e7c3d6de}
  60% {color: #c26091de}
  100% {color: #eecedfde}
}

.landing-img {
  position: relative;
  left: -200px;
  margin: 0 auto;
  animation: move 1s ease forwards;
  animation-delay: 1.5s;
  -webkit-animation: move 1s ease forwards;
  -webkit-animation-delay: 1.5s;
}

@keyframes move {
  from {left: -200px}
  to {left: 0px}
}

@-webkit-keyframes move {
  from {left: -200px}
  to {left: 0px}
}

.landing-header {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-right: 100px;
  opacity: 0;
  animation: 1s ease 1s forwards;
  animation-name: fadeDown;
  animation-delay: 2s;
  transform: translateY(20%);
}

.landing-header a {
  opacity: 0.8;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(20%);
  }
}
