.navigation {
  display: flex;
  flex-direction: column;
  font-size: 90px;
  padding: 50px 100px;
  width: 100%;
  color: rgb(249, 125, 186, 0.7);
}

.landing-img {
  width: 900px;
  padding: 0 50px
}