.navigation {
  display: flex;
  flex-direction: column;
  font-size: 90px;
  width: 100%;
  color: #f97dbab3;
}

/* .img-container {
  display: grid;
  grid-template-columns: 100%;
  margin: 0 auto;
} */

.landing-img {
  margin: 0 auto;
}

.landing-header {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-right: 100px;
  opacity: 0.8;
}
