.overlay {
  position: absolute;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  opacity: 1;
  transition: 1s ease 1s forwards ;
  background-color: #070707;
  z-index: 999;
}

.overlay-content {
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  z-index: 999;
}

.overlay a {
  font-size: 50px;
  text-decoration: none;
  color: #ca5b93de;
  text-shadow: 1px 2px #174668;
  padding: -20px;
}

.overlay a:nth-child(1) {
  opacity: 0;
  animation: 1s ease 1s forwards;
  animation-name: fadeIn;
  animation-delay: .2s;
}

.overlay a:nth-child(2) {
  opacity: 0;
  animation: 1s ease 1s forwards;
  animation-name: fadeIn;
  animation-delay: .3s;
}

.overlay a:nth-child(3) {
  opacity: 0;
  animation: 1s ease 1s forwards;
  animation-name: fadeIn;
  animation-delay: .4s;
}

.overlay a:nth-child(4) {
  opacity: 0;
  animation: 1s ease 1s forwards;
  animation-name: fadeIn;
  animation-delay: .5s;
}

.overlay a:hover {
  color: rgba(64, 201, 235, 0.884);
  transform: scale(1.03)
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
}