html, body {
  height: 100%;
  background-color: black;
}

.landing-page {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.landing-grid {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 50px 100px;
}

@media (max-width: 880px) {
  .landing-grid {
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    padding: 100px;
  }
}

@media (max-width: 530px) {
  .landing-grid {
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
  }
}